AcceptEnv                  no
AddressFamily              inet
AllowAgentForwarding       no
AllowGroups                irc
AllowStreamLocalForwarding yes
AllowTcpForwarding         yes
AllowUsers                 irc
AuthenticationMethods      publickey
AuthorizedKeysFile         .ssh/authorized_keys
Banner                     /data/sshd/banner
ExposeAuthInfo             no
FingerprintHash            sha256
HostKey                    /data/sshd/ssh_host_ecdsa_key
ListenAddress              0.0.0.0
LoginGraceTime             60
LogLevel                   ERROR
MaxAuthTries               3
MaxSessions                4
MaxStartups                4
PasswordAuthentication     no
PermitEmptyPasswords       no
PermitRootLogin            no
PermitTunnel               no
Port                       3132
PrintMotd                  no
PubkeyAuthentication       yes
StrictModes                yes
SyslogFacility             AUTH
X11Forwarding              no
GatewayPorts               no

Subsystem sftp /usr/lib/ssh/sftp-server
